extends layout

block content
  table
    thead
      tr
        th start
        th end
        th name
        th description
    tbody
      each val in calendar.events
        tr
          td=val.start
          td=val.end
          td=val.name
          td=val.description
